@page
@model IndexModel
@{
    ViewData["Title"] = "Shop tay's closet";
}

<section class="text-center">
    <section>
        <h1> My Fashion line</h1>
        <img src="https://www.lilianheels.com/694-large_default/sparkly-wedding-shoes-bridal-shoe-prom-shoes-women-high-heels-prom-shoes-party-shoes-wedding-shoes-crystal-bridal-heels.jpg " />
    </section>
    <section style=" background-color:lightpink">
        <aside class="col-1">
            <p> My clothes are very inspiring </p>
        </aside>
        <section></section>
    </section>
</section>
